body{
    justify-content: center;
}
h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 50px;
    background-color: rgb(212, 212, 212);
    padding:15px;

}

#chosePaleteColor, #color-palette,  #generate-board, #defineMatriz, #pixel{
    display:flex;
    justify-content: center
    
}
#blackInput, #pallete2Input, #pallete3Input, #pallete4Input, #clear-board, #generate-board{
    margin-left:20px;
    margin-bottom: 20px;
    box-shadow: 5px 3px 3px black;
    padding: 10px;
    border-radius:5px;
    font-size:15px;
}

#defineMatriz{
    margin-top:20px;

}


.color{
    border: 1px  solid black;
    display: inline-block;
    margin-top: 20px;
    margin-left:20px;
    border-radius:5px;
    box-shadow: 5px 3px 3px black;

}

#black{
    background-color: black;
    padding:30px;
}
#palette2, #palette3, #palette4{
    padding:30px;
}

.pixel{
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    margin-left:10px;
    padding: 10px;
    box-shadow: 3px 2px 2px black;
}

#clear-board{
    margin:20px 30px;
    justify-content: center;
}

#board-size{
    width:200px;
    height: 20px;
    border-radius:3px;
    box-shadow: 3px 2px 2px black;
    padding:10px;
    font-size:18px;
}

#clear-input{
    display: flex;
    justify-content: center;
}